body{
  background-color: rgb(112, 211, 244);
  color: white;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}

button{
  padding: 2px 15px;
  background-color: rgb(88, 174, 228);
  color: white;
  border-style:none;
}

input{
  height: 20px;
  width: 360px;
  
}